@font-face {
    font-family: 'robotoregular';
    src: url('font/roboto-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('font/roboto-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


/*-----------------------------------------------*/


/* layout setup (grid) */

body {
    font-family: robotoregular;
}



body {
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
                        "sidebar header"
                        "sidebar content";
    overflow-x: hidden ;
    overflow-y: auto;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1992D4;
    color: #FFFFFF;
}

.content {
    grid-area: content;
}


/* HEADER */

.header {
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.121);
}

.header p {
    color: rgba(0, 0, 0, 0.7);
}

.header .flex {
    display: flex;
    justify-content: space-between; 
}

.header .flex + .flex {
    margin-top: 16px;
    align-items: center;
}

.flex:nth-child(2) .icon {
    width: 30px;
    height: 30px;
}

button {
    padding: 8px 24px;
    border-radius: 20px;
    margin-left: 30px;
    width: 100px;
    border: 0;
    background-color: #1992D4;
    color: white;
}

button:hover {
    cursor: pointer;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
}

.flex:first-child .user-image {
    width: 35px;
    height: 35px;
    margin: 0 28px 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.flex .flex {
    align-items: center;
}

input {
    width: 500px;
    height: 30px;
    border-radius: 20px;
    border: 0;
    padding-left: 12px;
    background-color: #E2E8F0;
}

input:focus {
    outline: none;
    border: 2px solid hsla(0, 0%, 0%, 0.4);
}

.search-bar {
    display: flex;
}

.header .icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-right: 12px;
}

.user-image {
    background-image: url(asset/portrait\ \ 2.avif);
    background-size: cover;
}


/* SIDE BAR */

.sidebar > div {
    margin: 30px;
    margin-bottom: 50px;
}

.sidebar > div:first-child {
    font-weight: bold;
    font-size: 32px;
}

.sidebar > div p {
    font-size: 20px;
    font-weight: 600;
    margin-left: 12px;
}

.sidebar > div p:hover {
    cursor: pointer;
}

.links .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.links > div {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 16px;
}


/* CONTENT */

.content {
    padding: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
            "cards anoucement-trending";
    gap: 30px;
    background-color: #E2E8F0;
}

.content > div {
    grid-area: cards;
}

.content > div + div {
    grid-area: anoucement-trending;
}

.content p:first-child,
.right-side p:first-child,
.trending-p {
    margin-bottom: 12px;
    font-weight: bold;
}

/* cards */

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 24px;  
}

.cards > div {
    padding: 30px 30px 120px 30px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.cards > div {
    position: relative;
    overflow: hidden;
}

.cards > div > div:not(div[class="decor"]) {
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 220px;
    gap: 20px;
}

.cards > div > div div {
    width: 25px;
    height: 25px;
}

.cards > div > div div:hover {
    cursor: pointer;
}

.cards > div > p {
    color: rgba(0, 0, 0, 0.7);
}

.decor {
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #F0B429;
    left: 0;
    bottom: 0;
}

/* right side */

.right-side {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.anouncement,
.trending {
    flex: 0 1 auto;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.anouncement div {
    flex: 1;
    padding: 16px;
    justify-content: space-between;
}

.anouncement div:not(div:last-child) {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.237);
}

.anouncement p {
    color: rgba(0, 0, 0, 0.7);
}


.trending {
    margin: 0;
}

.trending > div {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.trending > div:last-child {
    margin-bottom: 0;
}

.trending div div + div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending > div {
    justify-content: start;
    padding: 0 24px 0;
}

.trending > div:first-child {
    padding-top: 20px;
}

.trending > div:last-child {
    padding-bottom: 20px;
}

.trending > div p:first-child {
    align-self: flex-start;
    font-weight: bold;
}

.trending > div .user-image {
    margin-right: 16px;
}

.trending div div p {
    margin: 0 !important;
}

.trending > div > div:last-child p:last-child {
    color: rgba(0, 0, 0, 0.7);
}



/*-- ADDINNG ICON --*/

.home {
    background-image: url(asset/home.svg);
    filter: invert(100%);
}

.profile {
    background-image: url(asset/account.svg);
    filter: invert(100%);
}

.messages {
    background-image: url(asset/message.svg);
    filter: invert(100%);
}

.history {
    background-image: url(asset/clock-time-eight.svg);
    filter: invert(100%);
}

.comunities {
    background-image: url(asset/account-group.svg);
    filter: invert(100%);
}

.setting {
    background-image: url(asset/cog.svg);
    filter: invert(100%);
}

.support {
    background-image: url(asset/chat-question.svg);
    filter: invert(100%);
}

.privacy {
    background-image: url(asset/shield-check.svg);
    filter: invert(100%);
}

.bell {
    background-image: url(asset/bell-outline.svg);
}

.search {
    background-image: url(asset/magnify.svg);
}


.star {
    background-image: url(asset/star-outline.svg);
}

.eyes {
    background-image: url(asset/eye-plus-outline.svg);
}

.share {
    background-image: url(asset/share-variant-outline.svg);
}


.person1 {
    background-image: url(asset/person1.avif);
}

.person2 {
    background-image: url(asset/person2.avif);
}

.person3 {
    background-image: url(asset/person5.avif);
}

.person4 {
    background-image: url(asset/person6.avif);
}